body {
    margin: 0;
}

*{
    box-sizing: border-box;
}
.hero{
    height: 50vh;
    
    position: relative;
}
.container{
    margin: auto;
    width: 80%;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero > div {
    position: absolute;
    top: 10vh;
    left: 10vh;
    background: rgba(43, 10, 83, 0.45);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    width: 50%;
}
/* =============nav bar top menu */
.top-menu {
    background-color:black;
    color: white;
    position: sticky;
    top: 0px;
   
    

}
.top-menu> div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
 .top-menu ul{
    display:flex;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
    
}
.top-menu ul li:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.3);
    transition: transform, color 0.5s ;
}





[class^="img"]{
    height:60vh;
   display:flex;
   justify-content: center;
   align-items: center; 

}
.img1{
background: url(./img/1.avif)center center no-repeat;
background-size:cover;



}

.img2{
    background: url(./img/2.avif)center center no-repeat;
    background-size:cover;
background-attachment:fixed;}


.img3{
        background: url(./img/3.avif)center center no-repeat;
        background-size:cover;
background-attachment: fixed;}

.img4{
            background: url(./img/4.avif)center center no-repeat;
            background-size:cover;
background-attachment: fixed;}


            .title{
                background: rgba(0, 0, 0, 0.228);
                color: white;
            font-size: 3rem;
            padding: 1rem 3rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
             border-radius: 10px;
            backdrop-filter:blur(10px)
 }
 footer{
     background: black;
     text-align: center;
     padding: 3rem;
     color:white;
 }